@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Shantell Sans", cursive;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  background-image: url("https://i.pinimg.com/736x/60/2e/6a/602e6a824959bedea7a759e07b7a3391.jpg");
  background-size: 95vw 140vh;
}
 header {
  
  margin-bottom: 12px;
    padding: 16px;
    border-bottom: 1px solid #858588;
}
 
section  {
  margin-bottom: 12px;
  padding: 16px;
  border-bottom: 1px solid #858588;
}

.about h2 {
  font-size: 55x;
  margin-left: 850px;
}

.opening h2 {
  font-size: 55x;
  margin-left: 850px;
}

.characters h2 {
  font-size: 55x;
  margin-left: 850px;
}

h1 {
  margin: 10px 600px 0px 780px;
}

ul { 
  list-style-type: none;
  padding: 0px;
  margin: 20px 500px 0px 675px;
  display: flex;
  gap: 19px;
  
}

a {
  color: rgb(0, 0, 0);
}

nav a {
  display: block;
  border-radius: 4px;
  transition-duration: 0.3s;
  text-decoration: none;
  }


nav a:hover {
    background-color: rgb(188, 91, 207);
    color: #ffff;
}



   img  {
    width: 1000px;
    margin: 20px 500px 0px 450px;
    border-radius: 30px;
  }

  .about p{
    margin: 20px 0px 44px 0px;
    font-size: 20px;
  }

  .about img {
    margin: 100px;
    margin-top: 0px;
    border-radius: 10px;
  }
  
  .img2 {
    width: 22%;
    display: inline-block;
    margin: 0;
    padding: 0;
    }
    
    .img1 {
    width: 22%;
    display: inline-block;
    margin: 0;
    padding: 0;
    }
    
    .img3 {
    width: 22%;
    display: inline-block;
    margin: 0;
    padding: 0;
    }

    .img1:hover {
      transform: rotate(-6deg) scale(1.2);
      transition: 0.7s;
    }

    .img2:hover {
      transform:  scale(1.2);
      transition: 0.7s;
    }

    .img3:hover {
      transform: rotate(6deg) scale(1.2);
      transition: 0.7s;
    }
  
iframe {
    margin-left: 540px;
}

.characters p {
  font-size: 20px;
  margin: 40px 80px 0px 842px;
}

.img4 {
  width: 340px;
  height: 340px;
  margin: 20px;
}

.img5 {
  width: 340px;
  height: 340px;
  position: relative;
  top: -683px;
  margin-left: 420px;
}

.img6 {
  width: 340px;
  height: 340px;
  margin: 10px;
}

.img7 {
  width: 340px;
  height: 340px;
  margin: 10px;
}

.img8 {
  width: 340px;
  height: 340px;
  margin: 10px;
}
.img9 {
  width: 340px;
  height: 340px;
  margin: 165px 0px 0px 740px;
}

.name p {
  font-size: 30px;
  margin: 0px 0px 0px 25px;
  color: rgb(230, 21, 21);  
}

.team p {
  font-size: 15px;
  margin: 0px 0px 0px 25px;
  color: #858588;
}

.description p {
  margin: 0px 0px 0px 25px;
  font-size: 19px;
}

.name1 p {
  font-size: 30px;
  margin: 0px 420px 0px 25px;
  color: rgb(17, 13, 231);  
  position: relative;
  top: -663px;
  margin-left: 420px;
}

.team1 p {
  font-size: 15px;
  margin: 0px 0px 0px 25px;
  color: #858588;
  position: relative;
  top: -663px;
  margin-left: 420px;
}

.description1 p {
  margin: 0px 0px 0px 25px;
  font-size: 19px;
  position: relative;
  top: -663px;
  margin-left: 420px;
}
