@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Shantell Sans", cursive;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    background-image: url("https://i.pinimg.com/736x/60/2e/6a/602e6a824959bedea7a759e07b7a3391.jpg");
    background-size: 95vw 140vh;
}

ul { 
    list-style-type: none;
    padding: 0px;
    margin: 20px 500px 0px 730px;
    display: flex;
    gap: 19px;
}

.first  {
    width: 1000px;
    margin: 20px 500px 0px 450px;
    border-radius: 30px;
  }

a {
    color: rgb(0, 0, 0);
    border-radius: 4px;
    transition-duration: 0.3s;
    text-decoration: none;
}

nav a.link:hover {
    background-color: rgb(50, 31, 230);
    color: #ffff;
}

nav a.lonk:hover {
    background-color: rgb(172, 35, 214);
    color: #ffff;
}

nav a.lank:hover {
    background-color: rgb(233, 38, 152);
    color: #ffff;
}

nav a.lenk:hover {
    background-color: rgb(91, 207, 97);
    color: #ffff;
}

nav a.lynk:hover {
    background-color: rgb(246, 250, 25);
    color: #ffff;
}

nav a.lunk:hover {
    background-color: skyblue;
    color: #ffff;
}

section { 
    padding: 16px;
    border-bottom: 1px solid #858588;
}

h1 {
  margin: 10px 600px 0px 780px;
}

h2 {
    font-size: 55x;
    margin-left: 850px;
}

.about p{
    margin: 20px 0px 44px 0px;
    font-size: 20px;
}

.about img {
    margin: 100px;
    margin-top: 0px;
    border-radius: 10px;
}
  
.img2 {
    width: 22%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
    
.img1 {
    width: 22%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
    
.img3 {
    width: 22%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.img1:hover {
    transform: rotate(-6deg) scale(1.2);
    transition: 0.7s;
}

.img2:hover {
    transform:  scale(1.2);
    transition: 0.7s;
}

.img3:hover {
    transform: rotate(6deg) scale(1.2);
    transition: 0.7s;
}

iframe {
    margin-left: 540px;
}

.img4 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 180px;
}

.name {
    font-size: 30px;
    margin-left: 190px ;
    color: rgb(255, 0, 98);
    position: relative;
    top: -5px;
}

.team {
    font-size: 15px;
    margin: 0px 0px 0px 195px;
    color: #858588;
}

.description {
    margin: 10px 0px 0px 195px;
    font-size: 19px;
    margin-bottom: 50px;
}

.img5 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 750px;
    margin-top: -500px;
    position: relative;
    top: -330px;
}

.name1 {
    font-size: 30px;
    color: rgb(0, 26, 255);
    margin-left: 760px;
    margin-top: -340px;
}

.team1 {
    font-size: 15px;
    margin: 8px 0px 0px 760px;
    color: #858588;
}

.description1 {
    margin: 10px 0px 0px 760px;
    font-size: 19px;
}

.img6 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 1350px;
    margin-top: -500px;
    position: relative;
    top: -410px;
}

.name2 {
    font-size: 30px;
    color: rgb(255, 251, 0);
    margin-left: 1360px;
    margin-top: -280px;
    position: relative;
    top: -140px;
}

.team2 {
    font-size: 15px;
    margin: 50px 0px 0px 1360px;
    color: #858588;
    position: relative;
    top: -190px;
}

.description2 {
    margin: -180px 0px 0px 1360px;
    font-size: 19px;
}

.img7 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 180px;
}

.name3 {
    font-size: 30px;
    margin-left: 190px;
    color: rgb(14, 201, 45);
    position: relative;
    top: -5px;
}

.team3 {
    font-size: 15px;
    margin: 0px 0px 0px 195px;
    color: #858588;
}

.description3 {
    margin: 10px 0px 0px 195px;
    font-size: 19px;
}

.img10 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 180px;
}

.name6 {  
    font-size: 30px;
    margin-left: 190px ;
    color: red;
    position: relative;
    top: -5px;
}

.number {
    font-size: 15px;
    margin: 0px 0px 0px 195px;
    color: #858588;
}

.description6 {
    margin: 10px 0px 0px 195px;
    font-size: 19px;
}

.img8 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 550px;
    margin-top: -500px;
    position: relative;
    top: -150px;
}

.name4 {
    font-size: 30px;
    margin-left: 570px;
    margin-top: -100px;
    position: relative;
    top: -60px;
    color: skyblue;
}

.team4 {
    font-size: 15px;
    margin: -50px 0px 0px 580px;
    color: #858588;
}

.description4 {
    margin: 10px 0px 0px 580px;
    font-size: 19px;
}

.img9 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 1150px;
    margin-top: -600px;
    position: relative;
    top: -500px;
}

.name5 {
    font-size: 30px;
    color: rgb(195, 0, 255);
    margin-left: 1180px;
    margin-top: -230px;
    position: relative;
    top: -280px;
}

.team5 {
    font-size: 15px;
    margin: -10px 0px 0px 1180px;
    color: #858588;
    position: relative;
    top: -260px;
}

.description5 {
    margin: 10px 0px 0px 1180px;
    font-size: 19px;
    position: relative;
    top: -260px;
}

.img11 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 750px;
    margin-top: -500px;
    position: relative;
    top: -270px;
}

.name7 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 760px;
    margin-top: -280px;
}

.number1 {
    font-size: 15px;
    margin: 8px 0px 0px 760px;
    color: #858588;
}

.description7 {
    margin: 10px 0px 0px 760px;
    font-size: 19px;
}

.img12 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 1350px;
    margin-top: -500px;
    position: relative;
    top: -270px;
}

.name8 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 1360px;
    margin-top: -280px;
}

.number2 {
    font-size: 15px;
    margin: 8px 0px 0px 1360px;
    color: #858588;
}

.description8 {
    margin: 10px 0px 0px 1360px;
    font-size: 19px;
}

.img13 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 180px;
    position: relative;
    top: 40px;
}

.name9 {
    font-size: 30px;
    margin-left: 190px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 30px;
}

.number3 {
    font-size: 15px;
    margin: 30px 0px 0px 190px;
    color: #858588;
}

.description9 {
    margin: 10px 0px 0px 190px;
    font-size: 19px;
}

.img14 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 750px;
    position: relative;
    margin-top: -500px;
    top: -180px;   
}

.name10 {
    font-size: 30px;
    margin-left: 770px;
    color: rgb(0, 0, 0);
    margin-top: -60px;
    position: relative;
    top: -130px;
}

.number4 {
    font-size: 15px;
    margin: -8px 0px 0px 780px;
    color: #858588;
    position: relative;
    top: -115px;
}

.description10 {
    margin: -107px 0px 0px 780px;
    font-size: 19px;
}

.img15 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 1350px;
    position: relative;
    margin-top: -500px;
    top: -380px;   
}

.name11 {
    font-size: 30px;
    margin-left: 1370px;
    color: rgb(0, 0, 0);
    margin-top: -100px;
    position: relative;
    top: -290px;
}

.number5 {
    font-size: 15px;
    margin: -8px 0px 0px 1380px;
    color: #858588;
    position: relative;
    top: -275px;
}

.description11 {
    margin: -270px 0px 0px 1380px;
    font-size: 19px;
}

.img16 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 180px;
}

.name12 {
    font-size: 30px;
    margin-left: 180px;
    color: rgb(0, 0, 0);
}

.number6 {
    font-size: 15px;
    margin: 8px 0px 0px 180px;
    color: #858588;
}

.description12 {
    margin: 2px 0px 0px 180px;
    font-size: 19px;
}

.img17 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 580px;
    margin-top: -500px;
    position: relative;
    top: -215px;
}

.name13 {
    font-size: 30px;
    margin-left: 580px;
    color: rgb(0, 0, 0);
    margin-top: -220px;
}

.number7 {
    font-size: 15px;
    margin: 8px 0px 0px 580px;
    color: #858588;
}

.description13 {
    margin: 2px 0px 0px 580px;
    font-size: 19px;
}

.img18 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: 580px;
    margin-top: -500px;
    position: relative;
    top: -560px;
}

.name14 {
    font-size: 30px;
    margin-left: 580px;
    color: rgb(0, 0, 0);
    margin-top: -400px;
    position: relative;
    top: -165px;
}

.number8 {
    font-size: 15px;
    margin: 8px 0px 0px 580px;
    color: #858588;
    position: relative;
    top: -165px;
}

.description14 {
    margin: 8px 0px 0px 580px;
    font-size: 19px;
    margin-left: 580px;
    position: relative;
    top: -170px;
}

.img19 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-left: -580px;
    margin-top: -100px;
    position: relative;
    top: -180px;
}

.name15 {
    font-size: 30px;
    margin-left: -580px;
    color: rgb(0, 0, 0);
    margin-top: -190px;
}

.number9 {
    font-size: 15px;
    margin: 0px 0px 0px -580px;
    color: #858588;
    position: relative;
    top: -1px;
}

.description15 {
    margin: 8px 0px 0px 580px;
    font-size: 19px;
    margin-left: -580px;
    position: relative;
    top: -1px;
}

.img20 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-top: -130px;
    position: relative;
    top: -280px;
}

.name16 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: -290px;
}

.number10 {
    font-size: 15px;
    margin: 0px 0px 0px 0px;
    color: #858588;
}

.description16 {
    margin: 8px 0px 0px 580px;
    font-size: 19px;
    margin-left: 1px;
    position: relative;
}

.img21 {
    width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-top: -130px;
    margin-left: 580px;
    position: relative;
    top: -726px;
}

.name17 {
    font-size: 30px;
    color: skyblue;
    margin-top: -290px;
    margin-left: 580px;
    position: relative;
    top: -450px;
}

.number11 {
    font-size: 15px;
    margin: -110px 0px 0px 580px;
    color: #858588;
    position: relative;
    top: -340px;
}

.container {
    margin-left: 100px;
    position: relative;
    top: 50px;
}

.card {
    height: 600px;
    width: 570px;
    background-color: #ebecef;
    padding: 16px;
    text-align: center;
    border-radius: 12px;
}

.card1 {
    height: 600px;
    width: 570px;
    background-color: #ebecef;
    padding: 16px;
    text-align: center;
    border-radius: 12px;
    margin-left: 720px;
    margin-top: -550px;
    position: relative;
    top: -55px;
}

.blockImg {
    border-radius: 12px;
    box-shadow: 8px 8px 8px rgba(133, 128, 128, 0.9);  
 
}

.container1 input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.container1 {
  position: relative;
  user-select: none;
  margin-left: 350px;
  top: -15px;
}

.container1 svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container1 svg:hover {
  transform: scale(1.1);
}

.container1 input:checked ~ svg {
  fill: #E3474F;
}

.container2 input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.container2 {
  position: relative;
  user-select: none;
  margin-left: 980px;
  top: -120px;
}

.container2 svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container2 svg:hover {
  transform: scale(1.1);
}

.container2 input:checked ~ svg {
  fill: #E3474F;
}

.card2 {
    height: 600px;
    width: 460px;
    background-color: #ebecef;
    padding: 16px;
    text-align: center;
    border-radius: 12px;
    margin-left: 1350px;
    margin-top: -710px;
}

.container3 input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.container3 {
  position: relative;
  user-select: none;
  margin-left: 20px;
}

.container3 svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container3 svg:hover {
  transform: scale(1.1);
}

.container3 input:checked ~ svg {
  fill: #E3474F;
}

.card3 {
    height: 600px;
    width: 460px;
    background-color: #ebecef;
    padding: 16px;
    text-align: center;
    border-radius: 12px;
    margin-left: 300px;
    margin-top:  30px;
}

.card4 {
    height: 600px;
    width: 560px;
    background-color: #ebecef;
    padding: 16px;
    text-align: center;
    border-radius: 12px;
    margin-left: 1060px;
    margin-top: -600px;
}

.loli {
    font-size: 30px;
    margin-left: 800px;

}

.firstt {
    font-size: 50px;
    font-weight: 400;
    margin-left: 350px;
    margin-top: 100px;  
}

.blockV {
    border-radius: 12px;
    box-shadow: 8px 8px 8px rgba(133, 128, 128, 0.9);  
    margin-left:650px;
    margin-top: 10px;
}

.anime {
    margin-left: 800px;
    font-weight: lighter;
}

.opis {
    margin-top: -150px;
    position: relative;
    top: -100px;
    margin-left: 70px;
    font-size: larger;
}

.opis1 {
    margin-top: -160px;
    position: relative;
    top: -200px;
    margin-left: 1280px;
    font-size: larger;
}

.final {
    margin-top: -40px;
    margin-left: 750px;
}
.all {
    margin-top: -90px;
}

.second {
    font-size: 50px;
    font-weight: 400;
    margin-left: 250px;
    margin-top: 100px;  
}

.imgh {
    margin-left: 100px;
}

.immg {
    width: 30%;
    display: inline-block;
    margin: 15px;
    padding: 0;
    border-radius: 20px;
    position: relative;
    top: 20px;
}
    
.immg1 {
    width: 30%;
    display: inline-block;
    margin: 15px;
    padding: 0;
    border-radius: 20px;
    position: relative;
    top: 20px;
}
    
.immg2 {
    width: 30%;
    display: inline-block;
    margin: 15px;
    padding: 0;
    border-radius: 20px;
    position: relative;
    top: 20px;
}
.immg:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.immg1:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.immg2:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.opiss {
    margin-top: 20px;
    position: relative;
    margin-left: 150px;
    font-size: 20px;
    font-weight: lighter;
}

.opiss1 {
    margin-top: -290px;
    position: relative;
    margin-left: 710px;
    font-size: 20px;
    font-weight: lighter;
    top: -310px;
}

.opiss2 {
    margin-top: -290px;
    position: relative;
    margin-left: 1270px;
    font-size: 20px;
    font-weight: lighter;
    top: -310px;
}

.third {
    font-size: 50px;
    font-weight: 400;
    margin-left: 250px;
    margin-top: 100px;  
}

.immg5 {
    width: 30%;
    display: inline-block;
    margin: 15px;
    padding: 0;
    border-radius: 20px;
    position: relative;
}

.immg5:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.opisss {
    margin-top: 20px;
    position: relative;
    margin-left: 80px;
    font-size: 20px;
    font-weight: lighter;
}

.opisss1 {
    margin-top: -50px;
    position: relative;
    margin-left: 710px;
    font-size: 20px;
    font-weight: lighter;
    top: -340px;
}

.opisss2 {
    margin-top: -240px;
    position: relative;
    margin-left: 1230px;
    font-size: 20px;
    font-weight: lighter;
    top: -310px;
}

.opissss {
    margin-top: 20px;
    position: relative;
    margin-left: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.opissss1 {
    margin-top: -150px;
    position: relative;
    margin-left: 710px;
    font-size: 20px;
    font-weight: lighter;
    top: -30px;
}

.opissss2 {
    margin-top: -200px;
    position: relative;
    margin-left: 1230px;
    font-size: 20px;
    font-weight: lighter;
}

.blockVi {
    border-radius: 12px;
    box-shadow: 8px 8px 8px rgba(133, 128, 128, 0.9);  
    margin-left:640px;
    margin-top: 100px;
}

.end {
    font-size: 40px;
    margin-left: 620px;
    margin-top: -20px;
    position: relative;
    top: -380px;
}
